In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('src/pokemon.csv')

In [34]:
its = (df['Type 1'] == 'Fire') | (df['Type 2'] == 'Fire')

In [35]:
data = df.loc[(its), ['Name', 'Attack', 'Defense']]

In [36]:
display(data.head(10))

                         Name  Attack  Defense
4                  Charmander      52       43
5                  Charmeleon      64       58
6                   Charizard      84       78
7   CharizardMega Charizard X     130      111
8   CharizardMega Charizard Y     104       78
42                     Vulpix      41       40
43                  Ninetales      76       75
63                  Growlithe      70       45
64                   Arcanine     110       80
83                     Ponyta      85       55